html, body, div, h2, hr, a, i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: black;
  background-image: url('../assets/great-lakes-from-space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 100vh;
  background-position-x: 40%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#intro {
  position: relative;
  left: 0;
  top: auto;
  padding: 20vh 10px 2rem;
  width: 100%;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0 0 5px black;
  letter-spacing: 0.05em;
}

.link-cells {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1%;
}

.link-cell a {
  color:white;
  text-shadow: 0 0 1rem black;
}

.link-label {
  display: block;
  font-weight: bold;;
}

.link-icon {
  display: block;
  font-size: 3rem;
}

@media only screen and (min-width: 450px) and (max-width: 768px){
  #intro { 
    padding-top: 15vh;
  }
}

@media only screen and (max-width: 450px) {
  #intro { 
    padding-top: 1.5rem;
  }
}
